<%- include('partials/_header')%>

<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand">CRUD node Mongo</a>
</nav>

<!-- <pre>
    <%= tareaTomarInfoBD %>
</pre> -->

<div class="container">


    <div class="row">


        <!-- form -->
        <div class="col-md-5">


            <div class="card">


                <div class="card-body">


                    <form action="/add" method="POST">


                        <div class="form-group">
                            <input type="text" name="title" placeholder="Inserte Titulo" class="form-control">
                        </div>

                        <div class="form-group">
                            <textarea name="description" id="" cols="80" rows="10" class="form-control"
                                placeholder="Inserte descripcion"></textarea>
                        </div>


                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>

                    </form>


                </div>


            </div>


        </div>


        <!-- table o list -->
        <div class="col-md-7">

            <table class="table-bordered table-hover">
                <thead>

                    <!-- fila -->
                    <tr>
                        <!-- cabeceras multiples -->
                        <th>N°</th>
                        <th>Title</th>
                        <th>Descripcion</th>
                        <th>Operaciones</th>

                    </tr>
                </thead>

                <tbody>
                    <!-- recorre y muestra los datos obtenidos de mongodb -->
                    <% for(var i =0; i < tareaTomarInfoBD.length; i++) { %>

                    <tr>
                        <td>
                            <%= i + 1%>
                        </td>

                        <td>
                            <%=tareaTomarInfoBD[i].title %>
                        </td>
                        <td>
                            <%=tareaTomarInfoBD[i].description %>
                        </td>
                        <td>
                            <a href="/hecho/<%=tareaTomarInfoBD[i]._id %>"
                                class="btn  <%=tareaTomarInfoBD[i].status ? 'btn-success' : 'btn-dark' %>">Hecho</a>
                            <a href="/editar/<%=tareaTomarInfoBD[i]._id %>" class="btn btn-info">Editar</a>
                            <a href="/borrar/<%=tareaTomarInfoBD[i]._id %>" class="btn btn-danger">Borrar</a>

                        </td>
                    </tr>

                    <% }%>
                </tbody>
            </table>

        </div>
    </div>

</div>

<%- include('partials/_footer')%>